/* Container Login */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh; 
    background: linear-gradient(135deg, #00bfff 0%, #3a7bd5 100%);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }

/* Login Form Card */
    .login-form {
    background: #ffffff;
    padding: 25px 50px; 
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 70%;
    max-width: 380px; 
    text-align: center;
    box-sizing: border-box;
    }

 /* Header */
    .login-form h2.form-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    font-size: 2rem; 
    font-weight: 700;
    }

/* Form Group */
    .form-group {
    margin-bottom: 25px; 
    text-align: left;
    }
    .form-group label {
    display: none; 
    }
    .input-with-icon {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin-bottom: 15px;
    }
    .input-with-icon .icon {
    color: #aaa;
    font-size: 1.1rem;
    margin-right: 15px;
    }
    .input-with-icon input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: #555;
    background-color: transparent;
    transition: border-color 0.3s ease;
    }
    .input-with-icon input:focus {
    border-color: transparent; 
    outline: none;
    box-shadow: none;
    background-color: transparent;
    }

/* Lupa Pass */
    .forgot-password {
    margin-top: -15px;
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 30px;
    }
    .forgot-password a {
    color: #999;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    }
    .forgot-password a:hover {
    color: #3b82f6; 
    }

/* Login */
    .btn-login {
    width: 100%;
    padding: 15px; 
     background-color: #3a7bd5;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem; 
    font-weight: 700; 
    cursor: pointer;
    margin-top: 10px; 
    transition: opacity 0.3s ease, transform 0.2s ease;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 198, 255, 0.4);
    }
    .btn-login:hover {
    opacity: 0.9;
    transform: translateY(-1px);
    }

/* Sign Up */
    .social-login-section {
    margin-top: 35px;
    }
    .social-text {
    font-size: 0.95rem;
    color: #888;
    margin-bottom: 15px;
    }
    .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 35px;
    }
    .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    transition: transform 0.2s;
    }



    .social-icon:hover {
    transform: scale(1.1);
    }
    .facebook {
    background-color: #3b5998;
    }
    .google {
    background-color: #db4437;
    }


    .signup-section {
    margin-top: 10px;
    }
    .signup-text {
    font-size: 0.95rem;
    color: #888;
    margin-bottom: 5px;
    }
    .signup-link {
    font-weight: 700;
    color: #7451f2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: opacity 0.3s;
    }
    .signup-link:hover {
    opacity: 0.8;
    }

    @media (max-width: 600px) {
    .login-form {
        padding: 30px 20px;
    }
    }